<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div>
      <ion-label class="center-content"></ion-label>
      <ion-input class="center-content" label="Usuario" [(ngModel)]="userLoginModal.username"></ion-input>
      <ion-input class="center-content" label="Contraseña" [(ngModel)]="userLoginModal.password" type="password"></ion-input>
    </div>
    <div>
      <!--
        Navigación con una función.
      -->
      <ion-button color="success" (click)="userLogin(userLoginModal)">Acceder</ion-button>
    </div>
    <div>
      <!--
        Navegación via HTML.
      -->
      <ion-button [routerLink]="['/usuario',userLoginModal.username]">Usuario Page</ion-button>
    </div>
  </div>
</ion-content>

<!--
  Docs
  https://ionicframework.com/docs/angular/navigation
-->


